<div class="shrink columns sidebar">
	<nav class="sidebar-nav">
		<a href="#/" ng-class="{active: $route.current.navActive == 'study'}"><i class="fa fa-book"></i><span class="secondary badge" ng-show="boxMetadata.QuestionsToLearnTotal > 0">{{ boxMetadata.QuestionsToLearnTotal }}</span> <span class="text show-for-medium">Study</span></a>
		<a href="#/manage" ng-class="{active: $route.current.navActive == 'manage'}"><i class="fa fa-archive"></i> <span class="text show-for-medium">Manage</span></a>
		<a href="#/discover" ng-class="{active: $route.current.navActive == 'discover'}"><i class="fa fa-search"></i> <span class="text show-for-medium">Discover</span></a>
		<a href="#/stats" ng-class="{active: $route.current.navActive == 'stats'}"><i class="fa fa-pie-chart"></i> <span class="text show-for-medium">Stats</span></a>
		<a href="#/settings" ng-class="{active: $route.current.navActive == 'settings'}"><i class="fa fa-cog"></i> <span class="text show-for-medium">Settings</span></a>
	</nav>
</div>