<div class="expanded row">
	<div class="column">
			<h4>Delete Category</h4>
			<div class="callout">
				<div class="callout alert" ng-show="error">
					<h5>Errors</h5> {{ error }}
				</div>
				<div class="row">
					<div class="small-12 column">
						<p>
							Are you sure to delete the category <strong>{{ category.Name }}</strong>?
						</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 column">
						<button type="submit" class="success button" style="margin: 0px;" ng-click="submit()">Delete</button>
						<button type="button" class="alert button" ng-click="back()" style="margin: 0px;">Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>