<div class="expanded row">
	<div class="columns show-for-medium"></div>
	<div class="columns medium-6 small-12 text-right search">
		<input placeholder="Search" type="text" ng-model="searchText" />
	</div>
</div>

<div class="expanded row">
	<div class="column">
		<table class="box-table" ng-repeat="category in categories | orderBy:'Name'" ng-show="(boxesByCatID[category.ID] | filter:searchText).length > 0">
			<thead>
				<tr>
					<th colspan="4">{{ category.Name }}</th>
				</tr>
			</thead>
			<tbody ng-repeat="box in boxesByCatID[category.ID] | filter:searchText | orderBy:'-QuestionsToLearn'">
				<tr>
					<td style="width: 60%;">{{ box.Name }}</td>
					<td style="width: 15%;"><span class="label" ng-class="{'success': box.QuestionsToLearn == 0, 'warning': box.QuestionsToLearn > 0}">{{ box.QuestionsToLearn }}</span></td>
					<td style="width: 15%;" class="total">{{ box.QuestionsLearned }}<span class="primary show-for-medium">/{{ box.QuestionsTotal }}</span></td>
					<td style="width: 10%;" class="learn" ng-hide="box.QuestionsToLearn == 0"><a ng-href="#/study/{{ box.ID }}" class="expanded button">Learn</a></td>
					<td style="width: 10%;" class="learn" ng-show="box.QuestionsToLearn == 0"><button type="button" class="expanded button disabled">Done</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>